<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login - Griffin</title>
</head>
<body>
  <nav></nav>
  <section>
    <form action="/login/loginUser" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="email of username" name="credentials">
      <input type="password" placeholder="password" name="password">
      <input type="submit" value="Login">
    </form>
  </section>
</body>
</html>