<!DOCTYPE html>
<html>
    <head>
        <title>Survey</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href=""/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script id="question" type="text/x-handlebars-template">
            <div class="form-check form-check-inline">
                {% verbatim %}
                <input class="form-check-input" type="radio" name="{{ name }}" value="{{ val }}" />
                <label class="form-check-label">{{ val }}</label>
                {% endverbatim %}
            </div>
        </script>
        <script src="static/survey.js"></script>
    </head>
    <body>
        <center><h1>Survey</h1></center>
        <div class="container">
            <form action="{% url 'getSurveyResults' %}" method="post">
                {% csrf_token %}
                <div id="survey_body"></div>
                <br />
                <input class="btn btn-success" type="submit" value="submit" />
            </form>
        </div>
    </body>
</html>
